.form{
    padding-top: 3rem;
    flex-direction: column;
    @include align;
    .form_item{
        width: 70%;
        .form-label{
            font-size: 25px;
        }
    }
    button{
        font-size: 1.4rem;
        color:map-get($colores,"footerCol");
    }
}
.hotpink{
    background-color:map-get($colores,"title");
}